/* Sizing and spacing for menu buttons and blue nav bar up top */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* this sets the background color for the page */
body {
    background-color: #d9dcd6;
}

/* This sets up horieson logo font, spacing and color */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

  /* Code for sizing Horiseon logo */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Assigns second color to horiseon logo */
 .header h1 .seo {
    color: #d9dcd6;
}

/* This sets spacing, direction, sizing and font for header buttons */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This removes the bullet points for the header buttons */
.header div ul {
    list-style-type: none;
}

/* Sets spacing for header buttons] */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets color and removes underlining for menu buttons */
a {
    color: #ffffff;
    text-decoration: none;
}
/* sets font size for paragraph text */
p {
    font-size: 16px;
}

/* Sets position, sizing and spacing for large background image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Sets location and spacing for first small image */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Sets location and spacing for second small image */

.float-right {
    float: right;
    margin-left: 25px;
}

/* This arranges where the cards go and the spacing between them */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sets color font and position for benefit card */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* sets color and spacing for benefit card texts */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets position and sizing for images on benefit card */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* For positioning, color and font for cards */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* setting max height for each image */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

/* This sets font size and spacing for online reputation card card text */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This sets font size and spacing for online reputation card card text */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This sets font size and spacing for social media marketing card text */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sets spacing, font type, and text location for footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets font size for footer */
.footer h2 {
    font-size: 20px;
}
